<?xml version="1.0"?>
<launch>
	
<!--        <node pkg="topic_tools" type="relay" name="relay_rs_front" args="/summit_xl/front_realsense/depth_registered/points /octomap_pointclouds" />
        <node pkg="topic_tools" type="relay" name="relay_rs_rear" args="/summit_xl/rear_realsense/depth_registered/points /octomap_pointclouds" />
        <node pkg="topic_tools" type="relay" name="relay_rs_left" args="/summit_xl/rear_left_realsense/depth_registered/points /octomap_pointclouds" />
        <node pkg="topic_tools" type="relay" name="relay_rs_right" args="/summit_xl/rear_right_realsense/depth_registered/points /octomap_pointclouds" />
-->

       <!-- <node pkg="topic_tools" type="relay" name="relay_rs_right" args="/merged_pointcloud /pc" /> -->


	<!--Lanza Octomap-->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
		<param name="resolution" value="0.05" /><!--#0.25 para optim-->
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" /> <!--world-->

		<!-- The robot's base frame in which ground plane detection is performed (if enabled)  -->
		<param name="base_frame_id" type="string" value="summit_xl_base_footprint" />
		
		<!--Prueba para evitar obstáculos-->
		<param name="pointcloud_max_z" value="2.0" />
		<param name="pointcloud_min_z" value="0.1" />


		<!--Whether topics are published latched or only once per change. For maximum performance when building a map (with frequent updates), set to false. When set to true, on every map change all topics and visualizations will be created.-->
		<!--<param name="latch" value="true" />-->

		<!-- maximum range to integrate (speedup!) -->
                        <param name="sensor_model/max_range" value="10.0" />
			<!--Probabilities for hits and misses in the sensor model when dynamically building a map -->
			<!--<param name="sensor_model/hit" value="0.7" /> 0.7-->
			<!--<param name="sensor_model/miss" value="0.4" /><0.4-->
			<!--Minimum and maximum probability for clamping when dynamically building a map-->
			<!--<param name="sensor_model/min" value="0.12" />0.12-->
			<!--<param name="sensor_model/max" value="0.97" />0.97-->
		<!-- data source to integrate (PointCloud2) -->

		<!-- FILTRO DE SUELO COMENTADO
		 	<param name="filter_ground" value="true" />
				<param name="ground_filter/distance" value="0.1" /><0.1-->
			<!--	<param name="ground_filter/angle" value="0.15" /><0.15-->
			<!--	<param name="ground_filter/plane_distance" value="0.25" /><0.1-->


		<remap from="cloud_in" to="/merged_pointcloud" />

	
	</node>
</launch>
