<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="raw3-5" >

  <!-- common stuff -->
<!--
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
-->  
<!--
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />
-->
 <!-- 
  <xacro:include filename="$(find cob_hardware_config)/robots/raw3-5/urdf/properties.urdf.xacro" />
-->
  <!-- raw base -->

  <xacro:include filename="$(find raw_description)/urdf/base_short/base.urdf.xacro" />

  <!-- sensors -->
  <xacro:include filename="$(find mpo700_mod)/urdf/sensors/usb_cam.urdf.xacro" />



  <!-- composition of the robot -->
  <xacro:raw_base name="base"/>

  <xacro:usb_cam name="camera1" parent="base_link" ros_topic="camera1" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="0.2 0 0.34" rpy="0 0 0" />
  </xacro:usb_cam>

<xacro:usb_cam name="camera2" parent="base_link" ros_topic="camera2" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="0.141421 0.141421 0.34" rpy="0 0 0.785398" />
  </xacro:usb_cam>

  <xacro:usb_cam name="camera3" parent="base_link" ros_topic="camera3" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="0 0.2 0.34" rpy="0 0 1.570796" />
  </xacro:usb_cam>

<xacro:usb_cam name="camera4" parent="base_link" ros_topic="camera4" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="-0.141421 0.141421 0.34" rpy="0 0 2.356194" />
  </xacro:usb_cam>

  <xacro:usb_cam name="camera5" parent="base_link" ros_topic="camera5" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="-0.2 0 0.34" rpy="0 0 3.141592" />
  </xacro:usb_cam>

<xacro:usb_cam name="camera6" parent="base_link" ros_topic="camera6" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="-0.141421 -0.141421 0.34" rpy="0 0 -2.356194" />
  </xacro:usb_cam>

  <xacro:usb_cam name="camera7" parent="base_link" ros_topic="camera7" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="0 -0.2 0.34" rpy="0 0 -1.570796" />
  </xacro:usb_cam>

<xacro:usb_cam name="camera8" parent="base_link" ros_topic="camera8" update_rate="0.0" height="720" width="1280" > 
    <origin xyz="0.141421 -0.141421 0.34" rpy="0 0 -0.785398" />
  </xacro:usb_cam>



</robot>
