<?xml version="1.0"?>
<launch>

	<!--<include file="$(find spawn_package)/launch/summitxl.launch"/>-->

	<!-- Calculado el origen en Gazebo -->
    <arg name="orig_x_chapa" default="11.925"/>
    <arg name="orig_y_chapa" default= "9.295"/>

	<node pkg="aux_controllers" type="generateworldframe" name="world_origin_node" />

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="$(arg orig_x_chapa) $(arg orig_y_chapa) 0 0 0 0.707 0.707 gaz_world origin_of_the_universe 100"/>


    <include file="$(find spawn_package)/launch/launch_tool.launch"/>-->
    <!--<include file="$(find spawn_package)/launch/launch_coupledfalsecamera.launch"/>-->

	<node pkg="aux_controllers" type="main_coupledtool" name="coupled_node" />
	<!--<node pkg="aux_controllers" type="main_coupledcameratool" name="couples_rs_node" />-->


	<!--lanza los servidores de las acciones de movimiento del robot-->
	<!--<node pkg="action_server_package" type="baserotation_server" name="baserotation_actionserver"/>
	<node pkg="action_server_package" type="moverobotcoord_server" name="moverobotcoord_actionserver"/>-->




</launch>