<?xml version="1.0"?>

<model>
  <name>Hokuyo modificado -- RPLIDARA2M8</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    Hokuyo modificado -- RPLIDARA2M8
    rango: 6m, 360grados
  </description>
</model>
