<?xml version="1.0"?>

<launch>
	<node pkg="action_server_package" type="baserotation_server" name="baserotation_actionserver"/>
	<node pkg="action_server_package" type="moverobotcoord_server" name="moverobotcoord_actionserver"/>
	<node pkg="action_server_package" type="completerectanglecoverage_server" name="completerectanglecoverage_actionserver"/>
	<!--<node pkg="action_server_package" type="XXXXXX_server" name="XXXXXX_actionserver"/>-->
	<node pkg="action_server_package" type="inspectionframe_server" name="inspectionframe_serviceserver"/>
	<node pkg="action_server_package" type="chapastorage_server" name="chapastorage_serviceserver"/>
</launch>