<launch>

<!-- define arguments -->
<arg name="robot_pos_x" default="10" />
<arg name="robot_pos_y" default="12" />
<arg name="robot_pos_z" default="0.15" />

<node pkg="tf" type="static_transform_publisher" name="world" 
    args="$(arg robot_pos_x) $(arg robot_pos_y) 0 0 0 0 -1 world map 100" />

<!--Spawnea el MPO700 y el entorno-->
<include file="$(find spawn_package)/launch/mpo700_aruco.launch">
  <arg name="init_pos_x" value="$(arg robot_pos_x)"/>
  <arg name="init_pos_y" value="$(arg robot_pos_y)"/>
  <arg name="init_pos_z" value="$(arg robot_pos_z)"/>
</include> 

<!--NAVEGACION-->
<include file="$(find spawn_package)/launch/launch_sensors.launch"/><!--Spawnea los sensores-->

<include file="$(find slam_launchers)/launch/octomap_gmap.launch"/><!--Lanza octomap, gmap y el acople de los sensores-->

<include file="$(find irobot_move_base)/launch/move_base.launch"/><!--Lanza el paquete de navegacion-->

<include file="$(find action_server_package)/launch/launch_all_actionservers.launch"/>--><!--Lanza los servidores de acciones-->

<node pkg="rviz" type="rviz" name="rviz_gui"/><!--Lanza Rviz-->



<!--LOCALIZACION-->

<!--Deteccion de ArUcos en cada camara-->
<include file="$(find aruco_detect)/launch/aruco_detect1.launch"/>
<include file="$(find aruco_detect)/launch/aruco_detect2.launch"/>
<include file="$(find aruco_detect)/launch/aruco_detect3.launch"/>
<include file="$(find aruco_detect)/launch/aruco_detect4.launch"/>
<include file="$(find aruco_detect)/launch/aruco_detect5.launch"/>
<include file="$(find aruco_detect)/launch/aruco_detect6.launch"/>
<include file="$(find aruco_detect)/launch/aruco_detect7.launch"/>
<include file="$(find aruco_detect)/launch/aruco_detect8.launch"/>

<include file="$(find robot_pose)/launch/pose_robot.launch"/>--><!--Lanza el paquete de localizacion del robot-->

</launch>

