<launch>

<!--
<node pkg="tf" type="static_transform_publisher" name="world" 
        args="0 0 0 0 0 0 -1 world summit_xl_odom 100" />

<node pkg="tf" type="static_transform_publisher" name="map" args="0 0 0 0 0 0 1 map world 100"/>
-->

<!--<include file="$(find spawn_package)/launch/summit_xl_realsense.launch"/>--> <!--Spawnea el MPO700 y el entorno-->

<!--<include file="$(find spawn_package)/launch/launch_sensors.launch"/>--><!--Spawnea los sensores-->

<!--<include file="$(find slam_launchers)/launch/octomap_gmap.launch"/>--><!--Lanza octomap, gmap y el acople de los sensores-->

<!--<include file="$(find irobot_move_base)/launch/move_base.launch"/>--><!--Lanza el paquete de navegacion-->

<include file="$(find action_server_package)/launch/launch_all_actionservers.launch"/><!--Lanza los servidores de acciones-->
<include file="$(find flexbe_app)/launch/flexbe_full.launch"/><!--Lanza los servidores de acciones-->
<node pkg="rviz" type="rviz" name="rviz_gui"/><!--Lanza Rviz-->

</launch>
