<?xml version="1.0"?>
<launch>
	
<!--	<node pkg="aux_controllers" type="main_coupledhokuyo" name="coupledHokuyo"/>
	<node pkg="aux_controllers" type="main_coupledvelodyne" name="coupledVelodyne"/>
-->

	<include file="$(find realsense2_camera)/launch/rs_front_back.launch" />
	<node pkg="merger_pointclouds" type="merger_pointclouds" name="merger_pointclouds"/>
	<include file="$(find slam_launchers)/launch/octomap_gmap.launch" />


</launch>
