<launch>

<!-- define arguments -->
<arg name="robot_pos_x" default="9" />
<arg name="robot_pos_y" default="21" />
<arg name="robot_pos_z" default="0.15" />

<node pkg="tf" type="static_transform_publisher" name="world" 
    args="$(arg robot_pos_x) $(arg robot_pos_y) 0 0 0 0 -1 world map 100" />

<!--Spawnea el MPO700 y el entorno-->
<include file="$(find spawn_package)/launch/mpo700_kinect.launch">
  <arg name="init_pos_x" value="$(arg robot_pos_x)"/>
  <arg name="init_pos_y" value="$(arg robot_pos_y)"/>
  <arg name="init_pos_z" value="$(arg robot_pos_z)"/>
</include> 

</launch>

