<?xml version="1.0"?>

<launch>
	<!--LASERS 2D-->
	<!--<include file="$(find spawn_package)/launch/launch_hokuyo.launch" /> TFM-->
	<!--<include file="$(find spawn_package)/launch/launch_rplidara3.launch" /> 25 360-->
	<!--<include file="$(find spawn_package)/launch/launch_rplidara2m6.launch" /><! 18 360-->
	<!--<include file="$(find spawn_package)/launch/launch_rplidara2m8.launch" />6 360-->
	<!--<include file="$(find spawn_package)/launch/launch_robotislds.launch" /> 3.5 360-->
	<!--<include file="$(find spawn_package)/launch/launch_NAV340.launch" /> Industrial 35m 360-->
	<include file="$(find spawn_package)/launch/launch_NAV340.launch" />
	
	<!--LASERS 3D-->
	<!--<include file="$(find velodyne_description)/launch/launch_velodyne.launch" /> TFM-->
	<!--<include file="$(find velodyne_description)/launch/launch_MRS6000.launch" />30m 120 15-->
	<!--<include file="$(find velodyne_description)/launch/launch_intelrealsense.launch" />30m 120 15-->
	<include file="$(find velodyne_description)/launch/launch_MRS6000.launch" />
</launch>
