<?xml version="1.0"?>

<model>
  <name>Hokuyo modificado -- NAV340</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    Hokuyo modificado -- /home/alvaro/navigation_ws/src/spawn_package/models/ROBOTIS_LDS
    rango: 35m, 360grados
  </description>
</model>
